<div class="login-page">
  <div class="container">
    <div class="form-container">
      <div class="card">
        <div class="card-body">
          <h1>Sign In</h1>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-input">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input formControlName="emailaddress" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                <input formControlName="password" class="form-control" type="password" id="exampleFormControlTextarea1" placeholder="password">
              </div>
            </div>

            <button [disabled]="loginForm.status !== 'VALID'" type="submit" class="btn btn-primary">Sign In</button>
          </form>
          <a href="http://localhost:4200/login">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
</div>

